/*-----------------
Reset
------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------
Common
------------------*/


/*-----------------
Typo
------------------*/
body {
font-family: 'Manjari', sans-serif;
}

/*-----------------
Header
------------------*/


/*-----------------
Main
------------------*/


/*-----------------
Get and Features
------------------*/

/*-----------------
Planning
------------------*/

/*-----------------
Testimonials
------------------*/

/*-----------------
Benefits
------------------*/

/*-----------------
About us
------------------*/

/*-----------------
Get started
------------------*/


/*-----------------
Footer
------------------*/


/*-----------------
Resposinvita
------------------*/

