/*-----------------
Reset
------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------
Common
------------------*/
ul {
    list-style: none;
}

.flex {
    display: flex;
}

:root {
    --blu: #0983ff;
    --bluscuro: #191063;
    --bianco: #ffffff;
    --viola: #7d4e96;
    --nero: #000000;
}

button {
        background-color: var(--bianco);
        align-items: center;
        text-decoration: none;
        border: none;
        color: #ffff;
        padding: 1vh;
        font-size: 10px;
}

a:hover {
    color: var(--bluscuro);
}

/*-----------------
Typo
------------------*/
body {
font-family: 'Manjari', sans-serif;
}

/*-----------------
Header
------------------*/

.header {
    background-color: var(--blu);
    justify-content: space-between;
    align-items: center;
    padding: 2vh 10vh 2vh 2vh;
}

.logo {
    padding-left: 10vh;
}

ul a {
    text-decoration: none;
    padding: 0 2vh 0 2vh;
    color: var(--bianco);
}
.menu li :last-child {
    border-radius: 50%;
    color: var(--nero);
    font-size: 16px;
    margin-top: -2vh;
}



header i {
    font-size: 30px;
    color: var(--bianco)
}

/*-----------------
Main
------------------*/


/*-----------------
Get and Features
------------------*/

/*-----------------
Planning
------------------*/

/*-----------------
Testimonials
------------------*/

/*-----------------
Benefits
------------------*/

/*-----------------
About us
------------------*/

/*-----------------
Get started
------------------*/


/*-----------------
Footer
------------------*/


/*-----------------
Resposinvita
------------------*/

@media screen and (max-width: 768px) {

    .menu {
        display: none;
    }
    
}

@media screen and (min-width: 768px) {

    .panino {
        display: none;
    }
    
}

