/*-----------------
Reset
------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------
Common
------------------*/
* {
    display: block;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

:root {
    --blu: #0983ff;
    --bluscuro: #191063;
    --bluchiaro: #7bb4ee;
    --bianco: #ffffff;
    --viola: #9792e4;
    --nero: #000000;
}

button {
        background-color: var(--bianco);
        align-items: center;
        text-decoration: none;
        border: none;
        color: #ffffff;
        padding: 1vh;
        font-size: 10px;
}

a:hover {
    color: var(--bluscuro);
}

/*-----------------
Typo
------------------*/
body {
font-family: 'Roboto', sans-serif;
}

p {
    font-size: 50px;
    text-align: center;
}

/*-----------------
Header
------------------*/

.header {
    background-color: var(--blu);
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
}


ul a {
    text-decoration: none;
    padding: 0 2vh 0 2vh;
    color: var(--bianco);
}
.menu li :last-child {
    border-radius: 50%;
    color: var(--nero);
    font-size: 16px;
    margin-top: -2vh;
}



header i {
    font-size: 30px;
    color: var(--bianco)
}

/*-----------------
Main
------------------*/

.main-sezione1 {
    background-color: var(--bianco);
    margin: 7vh 5vh 7vh 5vh;
}


/*-----------------
Get and Features
------------------*/

.get, .cleancode, .webdesign, .development, .branding {
    margin: 10vh 5vh 5vh 10vh auto;
    margin-bottom: 5vh;
    background-color: var(--bluchiaro);
    width: 100%;
    align-content: center;
    border-radius: 10%;
    padding: 5vh;
}

.feat {
    font-size: 200px;
    color: var(--blu);
    text-align: center;
}

img {
    width: 100%;
    margin-top: 3vh;
}

.get h1 {
    color: var(--blu);
    font-weight: 900;
    font-size: 80px;
    text-align: center;
    padding: 3vh;
}
.get button {
    background-color: var(--blu);
    color: var(--bianco);
    margin: 0 auto;
    margin-top: 3vh;
    border-radius: 50%;
}

.main-sezione1 h2 {
font-size: 80px;
padding: 5vh 0 5vh 0;
color: var(--blu);
text-align: center;
}



/*-----------------
Planning
------------------*/
.planning {
    background-color: var(--viola);
}

.planning2 {
    background-color: var(--bianco);
    margin: 7vh 5vh 7vh 5vh;
    border-radius: 30px;
}

.planning h2 {
    font-size: 80px;
    text-align: center;
    padding: 5vh 0 5vh 0;
}

/*-----------------
Testimonials
------------------*/

/*-----------------
Benefits
------------------*/

/*-----------------
About us
------------------*/

/*-----------------
Get started
------------------*/


/*-----------------
Footer
------------------*/


/*-----------------
Resposinvita
------------------*/

@media screen and (max-width: 768px) {

    .menu {
        display: none;
    }
    
}

@media screen and (min-width: 768px) {

    .panino {
        display: none;
    }
    
}

